#bookcover img{
	margin-top: 10px;
	width:600px;
	height:1000px;
}

.letterings{
	margin:100px 0 80px 20px ;
	width:1500px;
	height:1000px;
}

#bookcover{
	width:1500px;
	height:1000px;
}
p{
	font-style: bold;
	font-size: 2em;
}

